.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: sticky !important;
  background-color: #f8f9f9;
  width: 100% !important;
  z-index: 1000;
  box-shadow: 0px 0.5px 8px rgba(0, 0, 0, 0.178);
  border-top: 3px solid #f48225;
  overflow: hidden;
}

.leftLogo {
  height: 36px;
  width: 140px;
  margin-top: -5px;
  object-fit: contain;
  margin-left: 50px;
  padding: 0px 7px 0px 7px;
}
.leftLogo:hover {
  /* background-color: #e3e6e8; */
}

.left {
  flex: 2.8;
  display: flex;
  align-items: center;

  justify-content: center;
}

.left > img {
  width: 150px;
  height: 90px;
}

.leftItems {
  display: flex;
  /* margin-top: 2px; */
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.leftItem {
  font-family: "Segoe UI Variable", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 2px;
  color: gray;
  cursor: pointer;
  padding: 6px 12px;
  transition: all 1s ease;
}

.leftItem:hover {
  border-radius: 1000px;
  color: black;
  background-color: #e3e6e8;
}

.middle {
  flex: 3;
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex !important;

  justify-content: flex-start;
  align-items: center;
  padding: 4.8px 9.1px 4.8px 15px !important;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(34, 34, 34, 0.233);
}

/* .searchContainer:focus{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
} */

.searchIcon {
  font-size: 1rem;
  color: #babfc4;
  cursor: pointer;
}
.searchContainer > input {
  border: none;
  width: 100%;
  margin-left: 5px;
  outline: none;
}

.right {
  flex: 1.5;
  margin-left: 1em;
  margin-top: -0.1rem;
  display: flex;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  /* margin-top: -4px; */
}
.button {
  padding: 2.8px 12px 3.8px 12px !important;
  border: 1px solid #39739d;
  color: #39739d;
  display: flex;
  margin-left: auto !important;
  background-color: #e1ecf4;
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;
  font-family: "Segoe UI Variable", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.button:hover {
  background-color: #d5e4f0;
}

.btn1 {
  color: white !important;
  background-color: #62a4de;
}

.btn1:hover {
  background-color: #1e88e5;
}

@media only screen and (max-width: 898px) {
  .leftItems {
    display: none;
  }
}

@media only screen and (max-width: 778px) {
  .searchContainer {
    display: none;
  }
  .middle {
    display: none;
  }
  
}
