.imageContainer {
  display: flex;
}

.imageContainer > img {
  width: 130px;
  height: 43px;
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.slicker{
  padding: 10px;
}


